body {
    font-family: Roboto,monospace,"Segoe UI",sans-serif;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0;
}

button {
    border-radius: 8px;
    padding: 7px;
    background-color: #3882f6;
    color: #e5e7eb;
    border: none;
    transition-duration: 0.4s;
}

button:hover {
    background-color: #e5e7eb;
    color: #3882f6;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

.body {
    display: flex;
    flex-direction: column;
    flex: 1;
}

/* CSS for header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    font-size: 24px;
    color: #f9faf8;
    padding: 0 20px;
}

ul {
    list-style: none;
    display: flex;
    gap: 10px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

/* CSS for Hero section */
.hero {
    display: flex;
    background-color: #1f2937;
    justify-content: center;
    gap: 100px;
    padding: 0px 20px 100px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hero-title {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.hero-body {
    color: #e5e7eb;
    font-size: 18px;
}

.hero img {
    border: 2px solid white;
    height: 200px;
    min-width: 400px;
}

/* CSS for info section */
.info-title {
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    padding: 40px;
}

.info-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    padding: 0px 20px 100px;
}

.info-image {
    text-align: center;
    width: 200px;
}

.info-image img {
    height: 100px;
    width: 100px;
    border: 2px solid #3882f6;
    border-radius: 8px;
}

/* CSS for quote section */