body {
    font-family: Roboto,monospace,"Segoe UI",sans-serif;
    min-height: 100vh;
    margin: 0;
}

button {
    border-radius: 8px;
    width: 100px;
    padding: 7px;
    background-color: #3882f6;
    color: #e5e7eb;
    border: none;
    transition-duration: 0.4s;
}

button:hover {
    background-color: #e5e7eb;
    color: #3882f6;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

.body {
    display: flex;
    flex-direction: column;
    flex: 1;
}

/* CSS for header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    font-size: 24px;
    color: #f9faf8;
    padding: 20px;
    gap: 100px;
}

.logo {
    display: flex;
    gap: 20px;
    align-items: center;
}

.logo img {
    height: 75px;
    width: auto;
}

ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

/* CSS for Hero section */
.hero {
    display: flex;
    flex-wrap: wrap;
    background-color: #1f2937;
    justify-content: center;
    gap: 50px;
    padding: 100px 20px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 700px;
}

.hero-title {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.hero-body {
    color: #e5e7eb;
    font-size: 18px;
}

.hero img {
    border: 2px solid white;
    border-radius: 10px;
    height: auto;
    max-width: 400px;
}

/* CSS for info section */
.info-title {
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    padding: 40px;
}

.info-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    padding: 0px 20px 100px;
}

.info-image {
    text-align: center;
    width: 300px;
}

.info-image img {
    height: auto;
    width: 300px;
    border: 2px solid #3882f6;
    border-radius: 8px;
}

/* CSS for quote section */
.quote-section {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
}

.quote-container {
    padding: 50px; 
    max-width: 700px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    margin-bottom: 20px;
    text-align: center;
}

.quote-author {
    text-align: right;
}

/* CSS for Action section */
.action {
    display: flex;
    align-items: center;
    background-color: rgb(99, 159, 214);
    max-width: 900px;
    margin: 50px auto;
    padding: 25px 100px;
    gap: 50px;
    border-radius: 8px;
}

.action-title {
    font-size: 18px;
    font-weight: 700;
    color:#f9faf8;
    margin-bottom: 5px;
}

.action-text {
    color:#e5e7eb;
}

.action button {
    border: 1px solid #e5e7eb;
}

/* CSS for footer */
.footer {
    background-color: #1f2937;
    font-size: 16px;
    color: #f9faf8;
    padding: 35px;
    text-align: center;
}